/.venv
/data
/logs
/reports
/project
/models
/src/data_prepare/sinParams
/src/data_prepare/cosParams
/src/data_prepare/rotParams
folder_structure_python.bat
create_venv.ps1
/tests/data_prepare/images/
*.pyc
